.pagination li.active {
    background-color: #0A661A;
}

h4 {
    color: #be140b;
}

.dark-green-text {
    color: #09661a;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.collapsible-body {
    font-size: 9pt;
}

.collapsible-header {
    font-size: 12pt;
}

nav {
    background-color: #e0f2f1;
}

.button-collapse > .material-icons {
    color: #000000;
}

#nav-mobile > .dropdown-button {
    cursor: pointer;
    margin: 9px;
    color: #0a0a0a;
}

.test {
    text-indent: 15px;
}

.green-text {
    color: #0A661A !important;
}

.green-background {
    background-color: #0A661A !important;
}

.margin-btn-menu {
    margin: 1%;
}

.side-nav .collapsible-header:hover,
.side-nav.fixed .collapsible-header:hover,
.side-nav .collapsible-header.active,
.side-nav.fixed .collapsible-header.active {
    background-color: #b4b4b4;
}

#slide-out {
    margin-top: 65px;
    transition: margin-top 0.3s, width 0.3s !important;
    left:0;
    bottom: 0;
}

.collapsible-body .collapsible {
    text-indent: 20px;
    background-color: #e1e1e1;
}

ul.side-nav div.collapsible-header:after {
    font-family: 'Material Icons';
    content: "keyboard_arrow_right";
    color: #1c1c1c;
    font-size: 18px;
    position: absolute;
    right: 16px;
}

ul.side-nav div.collapsible-header.no-after:after {
    content: "";
}

ul.side-nav div.collapsible-header.active:after {
    content: "keyboard_arrow_down";
}

a.collapsible-header > div.action-name {
    font-weight: 300;
    font-size: 12pt;
}

.collapsible-header .material-icons {
    color: #0a0a0a !important;
}

th > a {
    font-family: 'Roboto';
    color: #000000;
}

th > a:hover {
    color: #0A661A;
}

.side-nav .user-view, .side-nav .userView {
    position: relative;
    padding: 5px;
    margin-bottom: 8px;
}

.row .col.m12 {
    width: 97% !important;
    margin-left: 50px !important;
}

.sidenav-scroll{
    margin-top: 46px !important;
    transition: margin-top 0.3s !important;
}

.footer-copyright > .container {
    margin-left: 400px;
}

ul#actions-profile.dropdown-content.active {
    width: 200px !important;
    margin-top: 19px;
    transition: margin-top 0.3s !important;
}

.scroll-actions-gravatar {
    margin-top: 5px !important;
    transition: margin-top 0.3s;
}

img#gravatar {
    cursor: pointer !important;
}

.side-nav.sidebar-collapsed-desktop {
    width: 50px;
    transition: width 0.1s, line-height 0.3s !important;
}

td {
    padding:5px !important;
    font-size: 0.9rem;
}

i.material-icons.tiny-custom {
    font-size: 1.2rem;
}

i.material-icons.tiny-custom:hover {
    color: #0a931e !important;
}

footer.page-footer {
    padding-top: 0 !important;
}

footer.page-footer .container {
    height: 45px;
}

footer.page-footer .container .row {
    margin-bottom: 0 !important;
}

.side-nav .user-view .background,
.side-nav .userView .background {
    width: 500px;
    margin-left: -10px !important;
}

.input-field input[type=text]:focus + label {
    color: #0A661A !important;
}

.input-field input[type=text]:focus +  {
    color: #0A661A !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #0A661A !important;
    box-shadow: 0 1px 0 0 #0A661A !important;
}

.input-field input[type=email]:focus + label {
    color: #0A661A !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #0A661A !important;
    box-shadow: 0 1px 0 0 #0A661A !important;
}


.input-field input[type=tel]:focus + label {
    color: #0A661A !important;
}

.input-field input[type=tel]:focus {
    border-bottom: 1px solid #0A661A !important;
    box-shadow: 0 1px 0 0 #0A661A !important;
}

ul.dropdown-content.select-dropdown li span {
    color: #0A661A;
}

nav {
    height: 60px;
    line-height: 60px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 60px;
    line-height: 60px;
}

nav .button-collapse i {
    height: 60px;
    line-height: 60px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 60px;
        line-height: 60px;
        transition: height 0.3s, line-height 0.3s;
    }
}

.nav-wrapper .input-field input[type=search] {
    height: inherit;
    padding-left: 4rem;
    width: calc(100% - 4rem);
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.gravatar-scroll {
    height: 30px;
    width: 30px;
    margin-top: 8px;
    margin-right: 10px;
    transition: height 0.3s, width 0.3s;
}

.gravatar {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    margin-right: 10px;
    transition: height 0.3s, width 0.3s;
}

.nav-scroll {
    line-height: 45px;
    height: 45px;
    transition: height 0.3s, line-height 0.3s;
}
.padding-footer {
    padding-bottom: 5px;
}
